.main {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-top: 100px;
  padding-left: 200px;
  .canvas {
    position: relative;
    width: 320px;
    height: 568px;
    border: solid 1px #dddddd;
    // margin: 20px;
  }
}
